:root {
    --aside-w: 150px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f4f4;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

header,
footer {
    background: #333;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: stretch;
}

aside {
    width: var(--aside-w);
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
}

aside.left {
    border-right: 3px solid #000;
}

aside.right {
    border-left: 3px solid #000;
}

article {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    margin: 20px;
}

article iframe{
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}